#root {
    height: 100vh;
    width: 100vw;
}

.settings-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.settings-form-header {
    width: 60vw;
}

.settings-form-group {
    width: 60vw;
}

.no-data {
    height: 100vh;
    width: 100vw;
}
