#root {
    height: 100vh;
    width: 100vw;
}

.navigation-bar {
    height: 55px;
    align-content: center;
}

.main-container {
    display: flex;
    height: calc(100vh - 55px);
}

.map-container {
    width: 60vw;
    height: 100%;
}

.sidebar-container {
    height: calc(100vh - 55px);
    width: 40vw;
}

.table-container {
    height: 100%;
    overflow-y: scroll;
}

.no-data {
    height: 100%;
}

.settings-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-form-header {
    width: 60vw;
}

.settings-form-group {
    width: 60vw;
}

