#root {
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
}

.map-container {
    width: 60vw;
}

.table-container {
    width: 40vw;
}

.no-data {
    width: 40vw;
    height: 100vh;
}

.settings-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-form-header {
    width: 60vw;
}

.settings-form-group {
    width: 60vw;
}

